<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474860078400-pl47qm2ea0knmelnc7gq8q1rv9qhe5go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474860078400-pl47qm2ea0knmelnc7gq8q1rv9qhe5go</string>
	<key>API_KEY</key>
	<string>AIzaSyBnvxvXOY1BQs_m07WSP0wx4UZA0_3AY6g</string>
	<key>GCM_SENDER_ID</key>
	<string>474860078400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.squip</string>
	<key>PROJECT_ID</key>
	<string>emergencyapp-7e179</string>
	<key>STORAGE_BUCKET</key>
	<string>emergencyapp-7e179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474860078400:ios:e0ec0172d18e367633e6a5</string>
</dict>
</plist>